<header>
  <nav>
    <ul>
      <li><a href="/public/index.php?page=dashboard">Accueil</a></li>
      <li><a href="/public/index.php?page=produits">Produits</a></li>
      <li><a href="/public/index.php?page=commandes">Commandes</a></li>
      <li><a href="/public/index.php?page=notifications">Notifications</a></li>
      <li><a href="/public/index.php?page=utilisateurs">Utilisateurs</a></li>
      <li><a href="/public/index.php?page=deconnexion">Déconnexion</a></li>
    </ul>
  </nav>
</header>
